<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DiscHouse.Properties.Settings.DiskHouseConnectionString"
            connectionString="Data Source=DESKTOP-K2DSFB8\SQLEXPRESS;Initial Catalog=DiskHouse;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>